.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.worksContainer {
    width: 80vw;
    height: 50vh;
    overflow: scroll;
    outline: solid 1px lightgrey
}


.workPanel {
    display: flex;
    padding: 10px;
    margin: 3px;
    outline: solid 1px lightblue;
    user-select: none;
}
