@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.top-container {
    height: 100%;
}
.top-main-container {
    @apply bg-[url(/bg-cpp-code.png)] bg-cover
}


.border-color {
    border-color: rgb(63 98 18 / var(--tw-border-opacity));
}

.btn{
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
  overflow: hidden;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
    border: 1px solid #555;/* ボーダーの色と太さ */
    padding: 10px 30px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/   
    transition: ease .2s;
}
