:root {
  --ogm-green: rgb(236, 252, 203);
  --ogm-yellow: rgb(254, 252, 232);
  --ogm-red: rgb(254, 242, 242);
  --ogm-blue: rgb(239, 246, 255);
  --ogm-purple: rgb(250, 241, 255);
  --ogm-white: white;
}

html body {
  padding: 0;
  margin: 0;
}
