

.panel {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.panelHeading {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .header {
    position: fixed;
    width: 100vw;
    height: 8vh;  
    background-color: #aaa;
  }
  .panelHeading {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .header {
    position: fixed;
    width: 100vw;
    height: 8vh;  
    background-color: #a00;
  }
  .panelHeading {
    font-size: 35px;
    text-align: center;
  }
  
}
