.blog-main-content #title {
    border-bottom: solid 1px black;
    font-size: 40px;
}

.blog-main-content table {
    border-width: 1px;
    border-collapse: collapse;
}

.blog-main-content .date {
    text-align: right;
    color: gray;
}

.blog-main-content .headline {
    border-bottom: solid 1px rgb(220, 220, 220);
}

.blog-main-content table tbody tr td {
    padding: 8px;
}

.blog-main-content table thead tr th {
    padding: 5px;
}

.blog-main-content {
    margin: 30px;
    /* position: absolute;
    top: 30px;
    left: 30%; */
    width: 50%;
    padding: 20px;
    background-color: white;
    /* box-shadow: 0px 0px 10px rgb(255, 255, 183); */
    box-shadow: 0px 0px 5px #7fffd480;
}

.blog-side-menu {
    margin: 30px;
    /* position: fixed;
    top: 130px;
    left: 2%; */
    width: 20%;
    height: auto;
    padding: 30px;
    background-color: rgb(255, 255, 230);
}

h2.anchor {
    display: block;
    padding-top: 150px;
    margin-top: -100px;
}