:root {
    --header-height: 100px;
}

.header {
    width: 100%;
    height: var(--header-height);
    background-color: white;
    border-bottom: solid 1px black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.menu-button {
    --button-size: calc(var(var(--header-height)) / 2);
    position: absolute;
    top: calc(var(--header-height) / 4);
    right: calc(var(--header-height) / 4);
    width: var(--button-size);
    height: var(--button-size);
    background-color: aqua;
}

.main {
    position: absolute;
    top: var(--header-height);
}