:root {
    --display-width: 1920px;
    --display-height: 1080px;
    --header-default-height: 100px;
    --header-background-color: #e0ff97;
    /* --header-background-color: #f7ffe5; */
}

.start-up-back {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    z-index: 400;
    transition: 2s;
}

.start-up-square {
    transform-origin: center;
    position: absolute;
    top: 50%;
    left: 30%;
    width: 0px;
    height: 0px;
    outline: 3px solid white;
    z-index: 401;
    transition: 1.5s;
}

/* .start-up-square-anim-0-class {
    animation: start-up-square-anim-0 1s ease-in-out ;
}

.start-up-square-anim-1-class {
    animation: start-up-square-anim-1 1s ease-in-out ;
}

@keyframes start-up-square-anim-0 {
    0% {
        width: 0px;
        height: 0px;
        top: calc(50% - 0px);
        left: calc(30% - 0px);
        transform: rotate(0deg);
    }
    100% {
        width: 100px;
        height: 100px;
        top: calc(50% - 50px);
        left: calc(30% - 50px);
        transform: rotate(720deg);
    }
}

@keyframes start-up-square-anim-0 {
    0% {

    }
    100% {

    }
} */

.header {
    width: 100%;
    height: auto;
    background-color: var(--header-background-color);
    border-bottom: solid 1px #dee5ce;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.header-title {
    padding-left: 20px;
    width: 300px;
    height: 100px;
}

.header-title a {
    color: black;
    text-decoration: none;
}

.header-subtitle {
    width: 100%;
    height: 50px;
    background-color: var(--header-background-color);
    border-bottom: solid 1px #dee5ce;
    position: fixed;
    top: 50px;
    /* top: calc(var(--header-default-height)); */
    left: 0;
    right: 0;
    z-index: 150;
    transition: 1s;
}

.header-subtitle-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
}

.header-subtitle-name {
    position: relative;
    font: bold;
    font-size: 30px;
    padding: auto 100px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 80, 0);
    flex-grow: 1;
}

.menu-button {
    height: calc(var(--header-default-height) / 2);
    --button-size: calc(var(--header-default-height) / 2);
    margin-left: auto;
    margin-right: calc(var(--header-default-height) / 4);
    margin-top: calc(var(--header-default-height) / 4);
    margin-bottom: calc(var(--header-default-height) / 4);
    /* position: absolute;
    top: calc(var(--header-height) / 4);
    right: calc(var(--header-height) / 4);
    width: var(--button-size);
    height: var(--button-size);
    gap: calc(var(--header-height) / 14); */
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button:hover .menu-button-line{
    background-color: black;
}

.menu-button-line {
    width: calc(var(--header-default-height) / 2.5);
    height: calc(var(--header-default-height) / 14);
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    top: 0px;
    opacity: 1;
}

.main {
    width: 100%;
    position: absolute;
    top: var(--header-default-height);
    left: 0px;
    right: 0px;
}

.main-contents-container .main-content{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.main-background-img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    filter: opacity(0.3);
}

.main-page-button {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    outline: solid 3px black;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.main-page-button:hover{
    background-color: rgba(200, 200, 200, 1);
    outline-color: rgb(0, 80, 0);
    color: rgb(0, 80, 0);
    /* cursor: pointer; */
}

.main-page-button-inner {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 0px;
    height: 44px;
    border-top: solid 3px rgb(0, 180, 0);
    border-bottom: solid 3px rgb(0, 180, 0);
    transition: 0.5s;
}

.main-page-button:hover .main-page-button-inner {
    width: 240px;
}